/*#FF0036 - красный*/

* {
	box-sizing: border-box;
}
@font-face {
	font-family: "Glyphter";
	src: url('fonts/Glyphter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "MgOpenModata";
	src: url('fonts/MgOpenModataRegular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "MyriadPro";
	src: url('fonts/MyriadPro-Regular.otf') format('opentype');
	font-weight: normal;
    font-style: normal;
}
.glyph {
	font-family: "Glyphter";
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.row::after, .main-menu::after, .team-members::after, .skills-blocks::after {
	content: "";
	display: block;
	clear: both;
}
.header {
	background-color: #08080C;
}
.pictures {
	width: 1400px;
	margin: 0 auto;
}
.main-menu {
	list-style: none;
	margin-bottom: 0;
}
.main-menu li a {
	float: left;
	color: #A4A4A4;
	font-size: 18px;
	font-family: "Raleway";
	font-weight: normal;
	padding-top: 19px;
	padding-bottom: 19px;
	margin-left: 31px;
	border-bottom: 2px solid #08080C;
	border-top: 2px solid #08080C;
	text-transform: uppercase;
}
.main-menu li a:hover {
	border-bottom-color: #FF0036;
	border-top-color: #FF0036;
	color: white;
	text-decoration: none;
}
.main-menu li:first-child a {
	margin-left: 0;
}
.main-menu li:last-child a {
	float: right;
}
.creativia {
	color: white;
	font-size: 33px;
	font-family: "Raleway";
}
.logo img {
	background-color: transparent;
}
.logo-shape::before {

}
.bg-woman-in-red {
	background: #1A1A1A url(images/woman-in-red.jpg) no-repeat 0% 38% / cover;
	background-origin: content-box;
}
.black-bg {
	background-color: rgba(0, 0, 0, 0.6);
}
.why-creativia {
	position: relative;
}
.question {
	font-size: 30px;
	font-family: "Raleway";
	font-weight: 700;
	color: white;
	text-align: center;
	padding-top: 175px;
	padding-bottom: 25px;
}
.red {
	color: #FF0036;
}
.lorem-ipsum {
	font-size: 16px;
	font-family: "Lato";
	color: white;
	text-align: center;
	padding-bottom: 37px;
}
.lorem-ipsum .glyph {
	position: absolute;
	color: #A4A4A4;
	font-size: 28px;
	top: 295px;
}
.lorem-ipsum .glyph:hover {
	color: #FF0036;
	cursor: pointer;
}
.lorem-ipsum .glyph:first-of-type {
	left: -87px;
}
.lorem-ipsum .glyph:last-of-type {
	right: -87px;
}
.why-creativia a {
	display: inline-block;
	width: 170px;
	height: 50px;
	background-color: #131313;
	color: white;
	font-size: 20px;
	font-family: "Raleway";
	font-weight: 500;
	text-transform: uppercase;
	line-height: 50px;
	text-align: center;
}
.why-creativia a:hover {
	text-decoration: none;
	background-color: #FF0036;
}
.why-creativia a:last-of-type {
	margin-left: 30px;
}
.why-creativia-buttons {
	width: 374px;
	margin: 0 auto;
	padding-bottom: 215px;
}
.about-creativia .row {
	width: 1170px;
	margin: 0 auto;
}
.about-header {
	font-size: 30px;
	font-family: "Raleway";
	font-weight: 700;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 22px;
}
.about-lorem {
	font-size: 16px;
	font-family: "Lato";
	font-weight: 700;
	text-align: center;
	padding-bottom: 88px;
}
.about-details {
	font-size: 16px;
	font-family: "Lato";
	line-height: 22px;
	text-align: justify;
	padding-bottom: 30px;
}
.about-creativia .col-md-6 {
	padding-left: 0!important;
}
.more-who {
	font-family: "Raleway";
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #F7F7F7;
	border: 1px solid #E7E7E7;
	color: black;
	position: relative;
}
.info-block-about .glyph {
	font-size: 18px;
	border-right: 1px solid #E7E7E7;
	color: black;
}
.more, .more-description {
	display: inline-block;
}
.more {
	padding: 0px 20px;
}
.more-description {
	padding-left: 30px;
}
.more-description-paragraph {
	border: 1px solid #E7E7E7;
	border-top: none;
	color: black;
	font-style: 14px;
	font-family: "Lato";
	line-height: 22px;
	padding: 0 15px;
	text-align: justify;
	display: none;
}
.who-is-creativia, .experiences {
	padding-bottom: 10px;
}
.more-who:hover + .more-description-paragraph {
	display: block;
}
.more-who:hover, .more-who:hover .glyph { 
	color: #FF0036;
}
.more-who .line {
	position: absolute;
	left: 60px;
	top: 0px;
	width: 1px;
	height: 50px;
	background-color: #E7E7E7;
}
.more-who .minus {
	display: none;
}
.more-who:hover .minus{
	display: block;
}
.more-who:hover .plus {
	display: none;
} 
.line-slider {
	width: 515px;
	height: 1px;
	background-color: black;
	margin: 0 auto;
	position: relative;
}
.slider {
	margin-top: 105px;
}
[class^="mode-"] {
	display: inline-block;
	width: 260px;
	text-align: center;
}
.shape-slider {
	position: absolute;
	left: 247.5px;
	top: -9px;
}
.shape-hexa-slider {
	position: relative;
	width: 10px;
	height: 18px;
	background-color: black;
}
.shape-hexa-slider::before, .shape-hexa-slider::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-top-width: 9px;
	border-bottom-width: 9px;
}
.shape-hexa-slider::before {
	border-left-width: 0;
	border-right-width: 5px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: black;
	left: -5px;
}
.shape-hexa-slider::after {
	border-right-width: 0;
	border-left-width: 5px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: black;
	right: -5px;
}
.mode-name {
	font-family: "Raleway";
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 5px;
	padding-top: 94px;
}
.mode-description {
	font-family: "Lato";
	font-size: 16px;
	line-height: 22px;
	padding-bottom: 85px;
}
[class^="mode-"]:not(:last-of-type) {
	margin-right: 38px;
}
.hexa-shape {
	position: relative;
	text-align: center;
	top: 87px;
}
.hexa-shape  .hexa {
	font-size: 86px;
	cursor: pointer;
}
.inside-shape {
	position: absolute;
	top: 45px;
	left: 117.5px;
}
.inside-shape .glyph {
	font-size: 25px;
}
.red-shape {
	position: absolute;
	left: 109px;
	top: 23px;
	z-index: -1;
}
.red-hover-shape {
	position: relative;
	width: 40px;
	height: 74px;
	background-color: white;
}
.red-hover-shape::before, .red-hover-shape::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-top-width: 37px;
	border-bottom-width: 37px;
}
.red-hover-shape::before {
	border-left-width: 0;
	border-right-width: 21px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: white;
	left: -21px;
}
.red-hover-shape::after {
	border-right-width: 0;
	border-left-width: 21px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: white;
	right: -21px;
}
.hexa:hover {
	color: #FF0036;
}
.hexa:hover ~ .red-shape .red-hover-shape {
	background-color: #FF0036;
}
.hexa:hover ~ .red-shape .red-hover-shape::before {
	border-right-color: #FF0036;
}
.hexa:hover ~ .red-shape .red-hover-shape::after {
	border-left-color: #FF0036; 
}
.hexa:hover + .inside-shape .glyph {
	color: white;
}
.portfolio {
	background-color: #262626;
	padding-bottom: 109px;
}
.portfolio-header {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	color: white;
	padding-top: 91px;
	padding-bottom: 7px;
}
.portfolio-slides {
	width: 398px;
	margin: 0 auto;
	padding-bottom: 95px;
}
.portfolio-slides a {
	color: #A4A4A4;
	text-transform: uppercase;
	font-family: "Lato";
	font-size: 16px;
	font-weight: 700;
}
.portfolio-slides a:hover {
	text-decoration: none;
	color: #FF0036;
}
.portfolio-slides a:not(:first-child) {
	margin-left: 17px;
}
[class^="picture-"] {
	height: 350px;
}
.picture-2, .picture-4, .picture-5, .picture-7 {
	width: 300px;
}
.picture-1, .picture-3, .picture-6, .picture-8 {
	width: 400px;
}
.picture-1 {
	background: #F39943 url(images/Layer7.jpg) no-repeat 150% 40%;
}
.picture-2 {
	background: #3782AA url(images/Layer18.jpg) no-repeat 100% 50%;
}
.picture-3 {
	background: #EF5D88 url(images/Layer9.jpg) no-repeat 125% 50%;
}
.picture-4 {
	background: #F6F0E0 url(images/Layer11.jpg) no-repeat 225% 50%;
}
.picture-5 {
	background: #56CC82 url(images/Layer13.jpg) no-repeat 150% 50%;
}
.picture-6 {
	background: #95A5A5 url(images/Layer17.jpg) no-repeat 150% 50%;
}
.picture-7 {
	background: #24B0C9 url(images/Layer15.jpg) no-repeat 100% 50%;
}
.picture-8 {
	background: #FA8562 url(images/Layer16.jpg) no-repeat 100% 50%;
}
.picture-1, .picture-2, .picture-3, .picture-5, .picture-6, .picture-7 {
	float: left;
}
.picture-4, .picture-8 {
	float: right;
}
[class^="picture-black-bg-"] {
	height: 350px;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
}
.picture-black-bg-2, .picture-black-bg-4, .picture-black-bg-5, .picture-black-bg-7 {
	width: 300px;
}
.picture-black-bg-1, .picture-black-bg-3, .picture-black-bg-6, .picture-black-bg-8 {
	width: 400px;
}
[class^="picture-black-bg-"] p:first-child {
	font-size: 24px;
	color: white;
	text-align: center;
	padding-top: 152px;
}
[class^="picture-black-bg-"] p:last-child {
	font-family: "Lato";
	font-size: 16px;
	color: white;
	text-align: center;
	padding-top: 6px;
}
[class^="picture-black-bg-"] a {
	color: white;
}
[class^="picture-"]:hover [class^="picture-black-bg"] {
	display: block;
}
.picture-1, .picture-5 {
	margin-left: 15px;
}
.picture-4, .picture-8 {
	margin-right: 15px;
}
.our-product-features .slider, .our-teamwork .slider, .plans-bestseller .slider, .our-blog .slider, .fine-us-here .slider {
	margin-top: 0; /*Красный слайдер*/
}
.red-line-slider {
	background-color: #FF0036;
}
.red-shape-hexa-slider {
	background-color: #FF0036;
}
.red-shape-hexa-slider::before {
	border-right-color: #FF0036;
}
.red-shape-hexa-slider::after {
	border-left-color: #FF0036;
}
.our-product-features {
	padding-bottom: 200px;
}
.our-product-name {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	padding-top: 91px;
}
.our-product-lorem {
	font-family: "Lato";
	font-size: 16px;
	text-align: center;
	font-weight: 700;
	padding-top: 29px;
	padding-bottom: 166px;
}
.feature {
	width: 368px;
	height: 51px;
	border: 1px solid #E2E2E2;
}
.feature:hover {
	background-color: #FF0036;
	cursor: pointer;
}
.feature:hover p {
	color: white;
}
.feature:hover .shape-feature > .glyph {
	color: white;
}
.feature:hover .check-mark > .glyph {
	color: #FF0036;
}
.features-right {
	margin-left: 22px;
}
.feature p {
	text-transform: uppercase;
	font-family: "Raleway";
	font-weight: 500;
	font-size: 20px;
	line-height: 51px;
}
.feature:not(:last-of-type) {
	margin-bottom: 23px;
}
.left-feature .shape-feature, .right-feature p {
	float: left;
}
.right-feature .shape-feature {
	float: right;
}
.shape-feature {
	position: relative;
}
.shape-feature > .glyph {
	font-size: 36px;
	cursor: pointer;
	color: #E7E7E7;
}
.check-mark {
	position: absolute;
	top: 15px;
	left: 12px;
	z-index: 10;
}
.check-mark .glyph {
	font-size: 12px;
}
.right-feature .shape-feature {
	margin-right: 19px;
}
.left-feature .shape-feature {
	margin-left: 19px;
	margin-right: 12px;
}
.right-feature:first-child p {	
	margin-left: 19px;
}
.right-feature:nth-child(2) p {	
	margin-left: 51px;
}
.right-feature:last-child p {	
	margin-left: 151px;
}
.gray-shape-bg {
	position: absolute;
	left: 8px;
	top: 10px;
}
.gray-bg {
	position: relative;
	width: 18px;
	height: 32px;
	background-color: #E7E7E7;
}
.gray-bg::before, .gray-bg::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-top-width: 15px;
	border-bottom-width: 15px;
}
.gray-bg::before {
	border-left-width: 0;
	border-right-width: 9px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: #E7E7E7;
	left: -9px;
}
.gray-bg::after {
	border-right-width: 0;
	border-left-width: 9px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: #E7E7E7;
	right: -9px;
}
.feature:hover .gray-bg {
	background-color: white;
}
.feature:hover .gray-bg::before {
	border-right-color: white;
}
.feature:hover .gray-bg::after {
	border-left-color: white;
}
.hexagon-main {
	position: relative;
	width: 237px;
	height: 411px;
	background-color: #4C4C4C;
	top: 102px;
	left: 75px;
}
.hexagon-main::before, .hexagon-main::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-top-width: 205.5px;
	border-bottom-width: 205.5px;
}
.hexagon-main::before {
	border-left-width: 0;
	border-right-width: 118px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: #4C4C4C;
	left: -118px;
}
.hexagon-main::after {
	border-right-width: 0;
	border-left-width: 118px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: #4C4C4C;
	right: -118px;
	top: 0;
}
.hexagon-bg {
	position: relative;
	width: 237px;
	height: 205.5px;
	background-color: #262626;
	top: 205px;
	left: 0px;
	z-index: 10;
}
.hexagon-bg::before, .hexagon-bg::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-top-width: 205.5px;
	border-bottom-width: 205.5px;
	border-top-width: 0;
}
.hexagon-bg::before {
	border-left-width: 0;
	border-right-width: 118px;
	border-bottom-color: transparent;
	border-right-color: #262626;
	left: -118px;
}
.hexagon-bg::after {
	border-right-width: 0;
	border-left-width: 118px;
	border-bottom-color: transparent;
	border-left-color: #262626;
	right: -118px;
	top: 0;
}
.tablet {
	width: 373px;
	height: 489px;
	position: relative;
	top: -385px;
	left: -68px;
	z-index: 1;
	border-radius: 25px;
	background-color: #E0E0E0;
}
.tablet::before {
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: black;
	position: absolute;
	left: 183px;
	top: 23px;
	z-index: 3;
}
.tablet-screen {
	width: 365px;
	height: 481px;
	background-color: #D8D8D8;
	position: absolute;
	border-radius: 25px;
	top: 4px;
	left: 4px;
	border: 1px solid #CACACA;
}
.picture-in-tablet {
	width: 334px;
	height: 422px;
	border: 3px solid black;
	border-radius: 5px;
	background: url(images/woman-in-red.jpg) no-repeat 25% 0%;
	background-size: cover;
	margin-left: 15px;
	margin-top: 42px;
}
.hexagon-bg .free-psd {
	font-family: "Raleway";
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	color: white;
	background-color: #393939;
	width: 170px;
	height: 50px;
	line-height: 50px;
	display: block;
	position: absolute;
	top: 80px;
	left: 30px;
}
.hexagon-bg .free-psd:hover {
	text-decoration: none;
}
.our-clients {
	background: url(images/clients.jpg) no-repeat 50% 55% / cover;
}
.our-clients-black-bg {
	background: rgba(0, 0, 0, 0.9);
}
.our-clients-name {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 30px;
	padding-top: 85px;
	padding-bottom: 24px;
	color: white;
	text-align: center;
}
.our-clients-lorem {
	color: #A4A4A4;
	text-align: center;
	font-family: "Lato";
	font-weight: 700;
	font-size: 16px;
}
.happy-say {
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-family: "Raleway";
	font-weight: 500;
	font-size: 20px;
	padding-top: 83px;
	padding-bottom: 27px;
}
.happy-say-lorem {
	color: #A4A4A4;
	font-family: "Lato";
	line-height: 22px;
	font-size: 16px;
	text-align: center;
}
.hexa-photo {
	position: relative;
	width: 34px;
	height: 57px;
	background-color: black;
	right: 0;
	left: 0;
	margin: 0 auto;
	top: 35px;
}
.hexa-photo::before, .hexa-photo::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-top-width: 28.5px;
	border-bottom-width: 28.5px;
}
.hexa-photo::before {
	border-left-width: 0;
	border-right-width: 17px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: black;
	left: -17px;
}
.hexa-photo::after {
	border-right-width: 0;
	border-left-width: 17px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: black;
	right: -17px;
}
.amr-srour {
	color: #FF0036;
	text-align: center;
	text-transform: uppercase;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 16px;
	padding-top: 49px;
}
.photo-slides {
	width: 34px;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 95px;
}
.photo-slide {
	width: 8px;
	height: 8px;
	background-color: white;
	display: inline-block;
}
.photo-slide:not(:last-child) {
	margin-right: 1px;
}
.photo-slide:hover {
	background-color: #FF0036;
	cursor: pointer;
}
.multimedia-blocks {
	display: inline-block;
	width: 270px;
	height: 116px;
	background: /*linear-gradient(to right, #A4A4A4 0%, white 22%, white 25%, white 35%, white 45%, white 55%, white 65%, white 75%, white 80%,  #A4A4A4 100%),
	                  linear-gradient(#A4A4A4 0%, white 30%, white 35%, white 40%, white 45%, white 50%, white 55%, white 60%, white 65%, white 50%, white 70%, #A4A4A4 100%)*/
	                  url(images/Rectangle.jpg) no-repeat 50% 50%;	            
	line-height: 116px;
}
.multimedia-blocks:first-child {
	margin-top: 88px;
	margin-left: 21px;
}
.multimedia-blocks:nth-child(3) {
	margin-left: 21px;
}
.multimedia-blocks:last-child, .multimedia-blocks:nth-child(2) {
	margin-left: 20px;
} 
.our-clients .container .row .col-md-6 {
	padding-left: 0!important;
	padding-right: 0!important;
}
.multimedia-blocks:first-child, .multimedia-blocks:nth-child(2) {
	margin-bottom: 31px;
}
.multimedia-blocks p {
	font-size: 24px;
	font-family: "MgOpenModata";
	text-align: center;
	padding-left: 60px;
	position: relative;
}
.multimedia-blocks p::before {
	content: "";
	position: absolute;
	display: block;
	width: 44px;
	height: 50px;
	background-size: cover;
	left: 57px;
	top: 34px;
}
.graphicriver::before {
	background:  url(images/graphicriver.jpg) no-repeat ;
}
.multimedia-blocks .videohive::before{
	background:  url(images/videohive.jpg) no-repeat;
	width: 35px;
	height: 40px;
	background-size: contain;
	top: 38px;
	left: 75px;
}
.photodune::before{
	background:  url(images/photodune.jpg )no-repeat;
}
.codecanyon::before {
	background:  url(images/codecanyon.jpg) no-repeat;
}
.our-teamwork-name {
	font-family: "Raleway";
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 125px;
	padding-bottom: 23px;
}
.our-teamwork-lorem {
	font-family: "Lato";
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 85px;
}
.team-member {
	float: left;
	width: 270px;
	height: 361px;
}
.photo-team-member {
	height: 241px;
	background-size: cover;
}
.bruce-wayne-photo {
	background: url(images/bruce-wayne-photo.jpg);
}
.amr-srour-photo {
	background: url(images/amr-srour-photo.jpg);
}
.sarah-doe-photo {
	background: url(images/sarah-doe-photo.jpg);
}
.johan-de-photo {
	background: url(images/johan-de-photo.jpg);
}
.team-member-name {
	font-family: "Raleway";
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 27px;
}
.team-member-position {
	font-family: "Lato";
	font-size: 16px;
	text-align: center;
	padding-bottom: 21px;
}
.team-member-description {
	border: 1px solid #E7E7E7;
}
.team-member:hover .team-member-description {
	border-color: black;
}
.team-member:hover .photo-team-member {
	background-image: none;
	background-color: #262626;
}
.team-member:not(.team-member-4) {
	margin-right: 30px;
}
.team-member:hover .team-member-name {
	color: #FF0036;
}
.soc-icons {
	width: 155px;
	height: 41px;
	margin: 0 auto;
}
.soc-icons .glyph {
	font-size: 19px;
	color: #FF0036;
}
.icon {
	display: none;
	float: left;
	position: relative;
	width: 23px;
	height: 41px;
	background-color: white;
	line-height: 41px;
	text-align: center;
	top: 100px;
}
.icon::before, .icon::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-top-width: 20.5px;
	border-bottom-width: 20.5px;
}
.icon::before {
	border-left-width: 0;
	border-right-width: 11px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: white;
	left: -11px;
}
.icon::after {
	border-right-width: 0;
	border-left-width: 11px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: white;
	right: -11px;
}
.fb-icon {
	left: 11px;
}
.tw-icon {
	left: 44px;
}
.gplus-icon {
	left: 77px;
}
.team-member:hover .icon {
	display: block;
}
.our-skills .slider {
	margin-top: 109px;
}
.our-skills {
	padding-bottom: 90px;
}
.our-skills-name {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	padding-top: 69px;
	padding-bottom: 22px;
}
.our-skills-lorem {
	font-family: "Lato";
	font-size: 16px;
	text-align: center;
	font-weight: 700;
	padding-bottom: 88px;
}
.skills-block {
	float: left;
	margin-right: 52px;
	width: 153px;
	text-align: center;
}
.skills-blocks {
	width: 768px;
	margin: 0 auto;
}
.skills-percent {
	position: relative;
	width: 145px;
	height: 145px;
	border-radius: 50%;
	line-height: 145px;
	text-align: center;
	font-family: "Lato";
	font-weight: 300;
	font-size: 40px;
	border: 3px solid #E0E0E0;
}
.skills-block-4 {
	margin-right: 0;
}
.skills-block p:first-of-type {
	text-transform: uppercase;
	font-family: "Raleway";
	font-weight: 600;
	font-size: 20px;
	padding-top: 20px;
}
.donec {
	font-family: "Lato";
	font-size: 16px;
	line-height: 18px;
}
.skills-percent::before {
	content: "";
	top: -3px;
	left: -3px;
	position: absolute;
	width: inherit;
	height: inherit;
	border: 3px solid #FF0036;
	border-radius: inherit;
}
.skill-1::before {
	clip: rect(0px 132px 145px 0px);
}
.skill-2::before {
	clip: rect(0px 117px 145px 0px);
}
.skill-3::before {
	clip: rect(0px 102px 145px 0px);
}
.skill-4::before {
	clip: rect(0px 132px 145px 0px);
}
.our-services {
	background-color: #272727;
	color: white;
	padding-bottom: 100px;
}
.our-services-name {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	color: white;
	padding-top: 91px;
	padding-bottom: 23px;
}
.our-services-lorem {
	font-family: "Lato";
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	color: #A4A4A4;
	padding-bottom: 31px;
}
.service-block > p {
	text-transform: uppercase;
	font-family: "Raleway";
	font-weight: 500;
	font-size: 20px;
	padding-bottom: 31px;
	padding-top: 18px;
	padding-left: 100px;
}
.service-description p {
	font-family: "Lato";
	font-size: 16px;
	text-align: justify;
	line-height: 22px;
	color: #A4A4A4;
}
.service-description {
	width: 570px;
	height: 121px;
	background: #343434;
	padding-left: 37px;
	padding-right: 28px;
	padding-top: 26px;
}
.our-services-blocks .row .col-md-6:nth-child(2) .service-block {
	padding-left: 14px;
}
.service-icon {
	position: relative;
	width: 34px;
	height: 57px;
	background-color: #A4A4A4;
	top: 59px;
	left: 17px;
	text-align: center;
	line-height: 57px;
}
.service-icon::before, .service-icon::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-top-width: 28.5px;
	border-bottom-width: 28.5px;
}
.service-icon::before {
	border-left-width: 0;
	border-right-width: 17px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: #A4A4A4;
	left: -17px;
}
.service-icon::after {
	border-right-width: 0;
	border-left-width: 17px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: #A4A4A4;
	right: -17px;
}
.service-icon .glyph {
	color: #262626;
	font-size: 28px;
}
.service-block:hover {
	cursor: pointer;
}
.service-block:hover .service-icon{
	background: #FF0036;
}
.service-block:hover .service-icon::before {
	border-right-color: #FF0036;
}
.service-block:hover .service-icon::after {
	border-left-color: #FF0036;
}
.service-block:hover .service-icon .glyph {
	color: white;
}
.service-block:hover .service-description {
	background: #3D2329;
}
.plans-bestseller {
	padding-bottom: 101px;
}
.bestseller-name, .our-blog-name, .follow-creativia-name, .fine-us-name {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 23px;
}
.bestseller-lorem, .our-blog-lorem, .fine-us-lorem {
	font-family: "Lato";
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 88px;
}
.reseller-block {
	float: left;
	margin-right: 30px;
	width: 270px;
	height: 527px;
}
.reseller-block-4 {
	margin-right: 0;
}
.reseller-name {
	height: 48px;
	line-height: 48px;
	background-color: #262626;
}
.reseller-name p {
	font-family: "Raleway";
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	color: white;
	text-transform: uppercase;
}
.reseller-price {
	height: 87px;
	line-height: 87px;
	background-color: #F2F2F2;
}
.reseller-price p {
	font-family: "Lato";
	font-weight: 900;
	font-size: 50px;
	text-align: center;
	color: #262626;
}
.reseller-price p span {
	font-family: "Lato";
	font-size: 16px;
}
.reseller {
	height: 52px;
	line-height: 52px;
	border: 1px solid #E7E7E7;
	border-top-style: none;
}
.reseller p {
	font-family: "Lato";
	font-size: 16px;
	text-align: center;
	color: #262626;
}
.reseller-button{
	height: 80px;
	border: 1px solid #E7E7E7;
	border-top-style: none;
	padding-top: 21px;
}
.oreder {
	display: block;
	width: 228px;
	height: 38px;
	background-color: #262626;
	color: white;
	font-family: "Raleway";
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	line-height: 38px;
	margin: 0 auto;
}
.oreder:hover {
	text-decoration: none;
	color: white;
} 
.reseller-block:hover .reseller-price {
	background-color: #FF0036;
}
.reseller-block:hover .reseller-price p {
	color: white;
}
.reseller-block:hover .oreder {
	background-color: #FF0036;
}
.twitter-block {
	background-color: #272727;
	padding-top: 89px;
	position: relative;
}
.twitter-block .twitter-bird {
	width: 40px;
	margin: 0 auto;
}
.twitter-block .glyph {
	text-align: center;
	color: #FF0036;
	font-size: 38px;
}
.twitter-lorem {
	font-family: "Lato";
	font-size: 16px;
	color: white;
	text-align: center;
	width: 645px;
	margin: 0 auto;
	line-height: 22px;
	padding-top: 9px;
	padding-bottom: 98px;
}
.bird-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	transform: rotate(-18deg) translate(70px, 40px);
}
.bird-bg .glyph {
	font-size: 230px;
	color: #3D3D3D;
}
.our-blog {
	padding-bottom: 85px;
}
[class^="review-icon-"] {
	width: 370px;
	height: 200px;
}
.review-icon-1 {
	background: #56CA7F url(images/shirt.jpg) no-repeat 100% 100%;
	margin-bottom: 49px;
}
.review-icon-2 {
	background: #24B0C9 url(images/car-bank.jpg) no-repeat 100% 50%;
}
.review {
	margin-left: 11px;
}
.review .glyph {
	font-size: 14px;
	margin-right: 6px;
}
.review span {
	color: #A2A2A2;
}
.review span:nth-of-type(2n) {
	font-family: "Lato";
	font-size: 12px;
	margin-right: 18px;
}
.review-lorem {
	font-family: "Raleway";
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 4px;
	margin-top: -5px;
}
.review-integer {
	padding-top: 13px;
	font-family: "Lato";
	line-height: 20px;
	font-size: 16px;
	text-align: justify;
	width: 568px;
	padding-bottom: 18px;
}
.view-more {
	display: block;
	width: 120px;
	height: 40px;
	color: white;
	text-transform: uppercase;
	font-family: "Lato";
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	background-color: #262626;
}
.view-more:hover {
	text-decoration: none;
	color: white;
	background-color: #FF0036;
}
.review .second-review {
	margin-top: 44px;
}
.arrow-down {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin: 0 auto;
	background-color: #F2F2F2;
	text-align: center;
	line-height: 45px;
	margin-top: 40px;
}
.arrow-down .glyph{
	color: #A2A2A2;
	font-size: 18px;
}
.follow-creativia {
	background: url(images/woman-in-red.jpg) no-repeat 0% 25% / cover;
}
.follow-creativia-name {
	color: white;
}
.follow-creativia-black-bg {
	background: rgba(0, 0, 0, 0.9);
}
.social-block {
	width: 475px;
	margin: 0 auto;
}
.social-icon {
	float: left;
	margin-right: 49px;
}
.social-icon-4 {
	margin-right: 0;
}
.follow-hexa-shape {
	position: relative;
	text-align: center;
	top: px;
}
.follow-hexa-shape  .follow-hexagon {
	font-size: 78px;
	cursor: pointer;
	color: #FF0036;
}
.follow-inside-shape {
	position: absolute;
	top: 40px;
	left: 27px;
	z-index: 10;
}
.follow-inside-shape .glyph {
	font-size: 22px;
	color: #FF0036;
}
.follow-red-shape {
	position: absolute;
	left: 21px;
	top: 21px;
}
.follow-red-hover-shape {
	position: relative;
	width: 37px;
	height: 68px;
	background-color: transparent;
}
.follow-red-hover-shape::before, .follow-red-hover-shape::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-top-width: 34px;
	border-bottom-width: 34px;
}
.follow-red-hover-shape::before {
	border-left-width: 0;
	border-right-width: 19px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	left: -19px;
}
.follow-red-hover-shape::after {
	border-right-width: 0;
	border-left-width: 19px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	right: -19px;
}
.follow-hexa-shape:hover .follow-red-shape .follow-red-hover-shape {
	background-color: #FF0036;
}
.follow-hexa-shape:hover .follow-red-shape .follow-red-hover-shape::before {
	border-right-color: #FF0036;
}
.follow-hexa-shape:hover .follow-red-shape .follow-red-hover-shape::after {
	border-left-color: #FF0036; 
}
.follow-hexa-shape:hover .follow-inside-shape .glyph {
	color: white;
}
.social-icon a:hover {
	text-decoration: none;
}
.social-followers {
	font-family: "Lato";
	font-size: 16px;
	color: white;
	padding-top: 12px;
	padding-bottom: 76px;
	text-align: center;
}
form {
	width: 470px;
	height: 475px;
	background-color: white;
	padding-left: 43px;
	position: absolute;
	bottom: 0;
	right: 400px;
}
form p {
	font-family: "Raleway";
	font-weight: 500;
	font-size: 20px;
	line-height: 110px;
	text-transform: uppercase;
}
input[type="text"], input[type="email"] {
	width: 378px;
	height: 34px;
	border: 1px solid #E7E7E7;
	line-height: 34px;
	margin-bottom: 17px;
	padding-left: 12px;
}
input:placeholder {
	font-family: ""Lato;
	font-size: 16px;
	color: #616161;
}
textarea {
	width: 378px;
	height: 88px;
	border: 1px solid #E7E7E7;
	margin-bottom: 22px;
}
input[type="submit"] {
	width: 120px;
	height: 40px; 
	background-color: #262626;
	color: white;
	text-transform: uppercase;
	border: none;
	font-family: "Lato";
	font-size: 16px;
	float: right;
	margin-right: 47px;
}
.location {
	width: 300px;
	height: 170px;
	background-color: #262626;
	position: relative;
	padding-left: 25px;
	padding-top: 27px;
}
.location p {
	font-family: "MyriadPro";
	font-size: 16px;
	color: white;
}
.city, .phone, .email {
	margin-top: -7px;
}
.location::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 15px;
	border-top-width: 80px;
	border-bottom-width: 0;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: #262626;
    bottom: -65px;
    right: 30px;
    transform: rotate(30deg);
}
.map {
	position: relative;
}
.our-location {
	position: absolute;
	top: 370px;
	left: 500px;
}
.design-by {
	font-family: "MyriadPro";
	font-size: 16px;
	color: #8E8E8E;
	float: right;
	margin-right: 70px;
	padding-bottom: 18px;
	margin-top: -45px;
}
.footer {
	background-color: #262626;
}
.footer-creativia {
	font-family: "Raleway";
	font-size: 33px;
	text-align: center;
	color: #8E8E8E;
	letter-spacing: 5px;
	padding-top: 19px;
}
